* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    color: rgb(212, 236, 255);
    /* border: 1px solid red; */
}

h1,
h2 {
    padding: 10px;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    transition-duration: 1s;
}

a:hover {
    color: rgb(254, 156, 210);
}

body {
    background-color: rgb(212, 236, 255);
}

header,
.container,
footer {
    margin: 10px;
    padding: 20px;
    background-color: rgb(44, 106, 160);
    border-radius: 10px;
}

footer,
.container {
    display: flex;
    justify-content: space-between;
}

/* ASIDE | search-form */
#container-left {
    width: 25vw;
    margin-right: 20px;
}

#search-form {
    padding: 10px;
}

#search-input,
#search-btn {
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px 0;
    color: black;
    font-weight: bolder;
}

#search-input {
    width: 90%;
}

#search-input:focus {
    background-color: bisque;
    outline: none;
}

#search-btn {
    width: 100%;
}


/* MAIN | CURRENT CITY */
.card {
    background-color: rgba(26, 48, 56, 0.75);
}
#container-right {
    flex-grow: 1;
}

.flex {
    display: flex;
    justify-content: space-around;
}

.btn-low {
    background-color: rgb(45, 105, 45);
}
.btn-moderate {
    background-color: rgb(167, 154, 55);
}
.btn-high {
    background-color: rgb(123, 18, 18);
}