* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-variant: small-caps;
    color: rgb(212, 236, 255);
    /* border: 1px solid red; */
}

h1,
h2 {
    padding: 10px;
    font-weight: bolder;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    transition-duration: 1s;
}

a:hover {
    color: rgb(254, 156, 210);
}

body {
    background-color: rgb(212, 236, 255);
}

header,
.container,
footer {
    margin: 10px;
    padding: 20px;
    background-color: rgb(44, 106, 160);
    border-radius: 10px;
}

footer,
.container {
    display: flex;
    justify-content: space-between;
}

/* ASIDE | SEARCH */
#container-left {
    width: 25vw;
    margin-right: 20px;
}

#container-left form {
    padding: 10px;
}

#search input,
#search button {
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 10px 0;
}

#search input {
    width: 95%;
}

#search button {
    width: 100%;
}

/* MAIN | CURRENT CITY */
#container-right {
    flex-grow: 1;
}